.layered {
    display: grid;
    /* Set horizontal alignment of items in, case they have a different width. */
    /* justify-items: start | end | center | stretch (default); */
    justify-items: start;
    /* Set vertical alignment of items, in case they have a different height. */
    /* align-items: start | end | center | stretch (default); */
    align-items: start;
}

    .layered > .layered-item {
        grid-column-start: 1;
        grid-row-start: 1;
    }

.terminal {
    height: 80vh !important;
    scroll-behavior: smooth;
}

.terminal-input {
    caret-color: rgb(255, 255, 255);
    caret-shape: bar;
    height: 1.7rem;
    outline: none;
}

.terminal-line {
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 1rem;
    height: 1.7rem;
    padding: 0rem;
    width: 100%;
    word-wrap: break-word;
}

.terminal-output {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

.terminal-text {
    font-family: var(--bs-font-monospace);
    font-size: 1rem !important;
}