.layered {
    display: grid;
    justify-items: start;
    align-items: start;
}

    .layered > .layered-item {
        grid-column-start: 1;
        grid-row-start: 1;
    }

.terminal {
    height: 80vh !important;
    scroll-behavior: smooth;
}

.terminal-input {
    caret-color: rgb(255, 255, 255);
    caret-shape: bar;
    height: 1.7rem;
    margin: 0.1em 0 0 0;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding: 0;
}

.terminal-line {
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 1rem;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding: 0rem;
    width: 100%;
    word-wrap: break-word;
}

    .terminal-line ::deep {
        overflow-wrap: break-word !important;
    }

.terminal-output {
    flex-direction: column;
    white-space: pre-wrap;
}

.terminal-text {
    font-family: var(--bs-font-monospace);
    font-size: 1rem !important;
}