@inherits LayoutComponentBase

<div class="page">
    <div class="container-fluid">
        <div class="row top-row shadow-sm align-items-center">
            <div class="" style="width: 250px;">
                <a class="link-underline link-underline-opacity-0 align-middle" style="color: black; font-size: 1.5em;" href="/rules-ui">
                    <Image Src="rules-ui/logo.svg" Style="width: 24px; height: 24px;" />
                    <span class="fw-medium">Rules.Framework</span>
                </a>
            </div>
            <div class="col">
                <span style="font-size: 1.5em; color: rgba(0,0,0,0.37);">Web UI</span>
            </div>
        </div>
        <div class="row">
            <div class="sidebar border-end">
                <NavMenu />
            </div>

            <main class="row">
                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>