<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%(DocumentTitle)</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel='stylesheet' href='glyphicons_only_bootstrap/css/bootstrap.min.css' />
    <link href="paginationjs/dist/pagination.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="rules_list.ico" />
    %(HeadContent)

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="paginationjs/dist/pagination.min.js"></script>
    <style>
        main {
        }

        .b-example-divider {
            border-width: 1px;
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        fieldset {
            border: solid 1px gray;
            padding-right: 12px;
            padding-bottom: 15px;
            padding-left: 12px;
            margin-bottom: 20px;
        }

        legend {
            float: none;
            width: inherit;
            font-weight: 500;
            font-size: 1.2rem;
        }

        .paginationjs .paginationjs-pages li.active > a {
            background: #373b3e !important;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #212529 !important;
            background-color: #ffffff !important;
        }

        .conditions-tab {
            --tab-left: 4em;
            padding-left: var(--tab-left, 4em);
        }
    </style>
</head>
<body>

    <main class="d-flex flex-nowrap">

        <div class="d-flex flex-column flex-shrink-0 p-2 text-bg-dark" style="width: 220px; padding-top:15px !important; padding-right:10px !important">
            <a href="/rules" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 glyphicon glyphicon-list" aria-hidden="true"></span>
                &nbsp; <span class="fs-5"> %(DocumentTitle)</span>
            </a>
            <hr>
            <ul class="main nav nav-pills flex-column mb-auto">
                <li class="main nav-item">
                    <a href="#" id="index" class="nav-link active" aria-current="page">
                        Home
                    </a>
                </li>
                <li class="main nav-item">
                    <a href="#" id="contentTypes" class="nav-link text-white">
                        Content Types
                    </a>
                </li>
                <li class="main nav-item">
                    <a href="#" id="rules" class="nav-link text-white">
                        Rules
                    </a>
                </li>
            </ul>
        </div>

        <div class="b-example-divider b-example-vr"></div>

        <div style="padding-top:20px; width:75%">

            <center>
                <div id="index" class="content">
                    <br />
                    <p class="lead">Welcome to Rules.Framework Web UI.<br /> Allows you to see the rules configured in your application.</p>
                </div>
            </center>

            <div id="contentTypes" class="content" style="display:none">
                <div class="row">
                    <div class="col-12">

                        <fieldset class="reset">
                            <legend class="reset">
                                <button type="button" class="btn btn-dark dropdown-toggle" style="font-size:.8rem" aria-expanded="false"
                                        data-bs-toggle="collapse" data-bs-target="#filterContentTypes"
                                        aria-controls="filterContentTypes">
                                    <span class="glyphicon glyphicon-filter"></span> Filters
                                </button>
                            </legend>
                            <div class="collapse show" id="filterContentTypes">
                                <form novalidate>
                                    <div class="col-md-4">
                                        <label for="contentTypeSearch" class="col-form-label-sm">Name</label>
                                        <input class="form-control form-control-sm" id="contentTypeSearch" />
                                    </div>
                                </form>
                            </div>
                        </fieldset>

                        <h5 class="mb-3">Content Types</h5>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm" style="font-size: .875rem;">
                                <thead style="border-bottom: 2px solid currentcolor;">
                                    <tr>
                                        <th scope="col" width="4%">#</th>
                                        <th scope="col" width="36%">Name</th>
                                        <th scope="col" width="25%" style="text-align: center;">Active Rules</th>
                                        <th scope="col" width="25%" style="text-align: center;">Total Rules</th>
                                        <th scope="col" width="10%" style="text-align: center;">Rules</th>
                                    </tr>
                                </thead>
                                <tbody id="contentTypes_table">
                                </tbody>
                            </table>
                            <div id="contentTypes_pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rules" class="content" style="display:none">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="reset">
                            <legend class="reset">
                                <button type="button" class="btn btn-dark dropdown-toggle" style="font-size:.8rem" aria-expanded="false"
                                        data-bs-toggle="collapse" data-bs-target="#filterRules"
                                        aria-controls="filterRules">
                                    <span class="glyphicon glyphicon-filter"></span> Filters
                                </button>
                            </legend>
                            <div class="collapse show" id="filterRules">
                                <form class="row g-3" novalidate>
                                    <div class="col-md-3">
                                        <label for="contentTypesSelect" class="col-form-label-sm">Content Type</label>
                                        <select class="form-select form-select-sm" id="contentTypesSelect" required>
                                            <option value="">Loading...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="ruleNameSearch" class="col-form-label-sm">Name</label>
                                        <input class="form-control form-control-sm" id="ruleNameSearch" />
                                    </div>

                                    <div class="col-md-3">
                                        <label for="ruleValueSearch" class="col-form-label-sm">Value</label>
                                        <input class="form-control form-control-sm" id="ruleValueSearch" />
                                    </div>

                                    <div class="col-md-2">
                                        <label for="ruleStatusesSelect" class="col-form-label-sm">Status</label>
                                        <select class="form-select form-select-sm" id="ruleStatusesSelect">
                                            <option value="">Choose Status...</option>
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                            <option value="pending">Pending</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Rules</h5>
                            </div>
                            <div class="col-lg-4" style="text-align:right">
                                <em style="font-size:small">Priority Criterias (<span id="rulesPriority"></span>) &nbsp; </em>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item download" href="#"><span class="glyphicon glyphicon-cloud-download"></span> Export JSON</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm" style="font-size: .875rem;">
                                <thead style="border-bottom: 2px solid currentcolor;">
                                    <tr>
                                        <th scope="col" width="1%">Priority</th>
                                        <th scope="col" width="25%">Name</th>
                                        <th scope="col" width="1%" nowrap style="text-align: center;">Date Begin</th>
                                        <th scope="col" width="1%" nowrap style="text-align: center;">Date End</th>
                                        <th scope="col" width="42%">Value</th>
                                        <th scope="col" width="10%" style="text-align: center;">Status</th>
                                        <th scope="col" width="10%" style="text-align: center;">Conditions</th>
                                    </tr>
                                </thead>
                                <tbody id="rules_table">
                                </tbody>
                            </table>
                            <div id="rules_pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div id="loading" class="spinner-border" style="width: 3rem; height: 3rem; display:none" role="status">
                </div>
            </div>

            <br />
            <br />
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script>
        rules = [];
        contentTypes = [];
        contentType = '';
        priority = '';
        conditions = [];
        pageSize = 10;
        ruleFilter = {
            status: '',
            name: '',
            value: ''
        };

        function setContentTypesPagination(dataSource) {
            $('#contentTypes_pagination').pagination({
                dataSource: dataSource,
                pageSize: pageSize,
                showNavigator: true,
                formatNavigator: '<span style="color: black"> Total of content types: <%= totalNumber %> </span>',
                callback: function (data, pagination) {
                    populateContentTypes(data)
                }
            })
        }

        function setRulesPagination(dataSource) {
            dataSource = applyRulesFilter(dataSource);

            $('#rules_pagination').pagination({
                dataSource: dataSource,
                pageSize: pageSize,
                showNavigator: true,
                formatNavigator: '<span style="color: black"> Total of rules: <%= totalNumber %> </span>',
                callback: function (data, pagination) {
                    populateRules(data)
                }
            });
        }

        function populateRules(dataSource) {
            let trHTML = '';
            $.each(dataSource, function (i, item) {

                let labelColor = '';
                let style = '';
                let icon = '';

                switch (item.status.toLowerCase()) {

                    case 'active':
                        labelColor = 'badge text-bg-success';
                        style = 'color: #1c6c09 !important;background-color: #d9fbd0 !important;'
                        icon = 'glyphicon glyphicon-ok';
                        break;
                    case 'pending':
                        labelColor = 'badge text-bg-info';
                        style = 'color: #bc3803 !important;background-color: #ffefca !important;'
                        icon = 'glyphicon glyphicon-time';
                        break;
                    default:
                        labelColor = 'badge text-bg-danger';
                        style = 'color: #AF0000 !important;background-color: #FFC8C8 !important;'
                        icon = 'glyphicon glyphicon-exclamation-sign';
                }

                trHTML += '<tr><th scope="row">' + item.priority + ' </th><td>' + item.name + '</td>';
                trHTML += '<td nowrap>' + item.dateBegin + '</td><td nowrap> ' + item.dateEnd + '</td>';
                trHTML += '<td>' + item.value + '</td>';
                trHTML += '<td style="text-align: center;"><span class="' + labelColor + '" style="' + style + '"> ';
                trHTML += item.status;
                trHTML += ' <span class="' + icon + '"></span> '
                trHTML += '</span></td>';
                trHTML += '<td nowrap style="text-align: center;"><button style="font-size:.875rem" type="button" class="btn btn-dark conditions"  ';
                trHTML += 'data-bs-toggle="modal" data-bs-target="#conditionsModal" title="Conditions" id="b' + item.priority + '">';
                trHTML += '<span class="glyphicon glyphicon-tasks" id="' + item.priority + '"></span>';
                trHTML += '</button></td></tr>';

            });
            $('#rules_table').html(trHTML);

            $("#loading").hide();
            setConditionsEvent();
        }

        function populateContentTypes(dataSource)
        {
            let trHTML = '';
            $.each(dataSource, function (i, item) {
                trHTML += '<tr><th scope="row">' + i + ' </th><td>' + item.name + '</td>';
                trHTML += '<td style="text-align: center;"><span class="badge bg-success" style="font-size:1em!important; color: #1c6c09 !important;background-color: #d9fbd0 !important;">' + item.activeRulesCount + '<span></td>';
                trHTML += '<td style="text-align: center;"><span class="badge bg-primary" style="font-size:1em!important; color: #373b3e !important;background-color: #cdced7 !important;">' + item.rulesCount + '<span></td>';
                trHTML += '<td style="text-align: center;"><button style="font-size:.875rem" type="button" class="btn btn-dark rules"  ';
                trHTML += 'title="Rules" id="b' + item.name + '">';
                trHTML += '<span class="glyphicon glyphicon-search" id="' + item.name + '"></span>';
                trHTML += '</button></td>';
                trHTML += '</tr>';
            });
            $('#contentTypes_table').html(trHTML);
            $("#loading").hide();
            setContentTypesEvent();
        }

        function openError(error)
        {
            $('#errorModal').modal('show');
            $('#errorBody').html('<pre>' + JSON.stringify(error, null, '\t').
                replace(/\\r/g, '\r').
                replace(/\\n/g, '\n') + '</pre>');
        }

        function setContentTypesEvent()
        {
            $('.rules').on('click', function (e) {
                const contentTypeClicked = e.target.id;

                if (contentTypeClicked)
                {
                    contentType = contentTypeClicked;
                    $('#rules').click();
                }
            });
        }

        function setConditionsEvent()
        {
            $('.conditions').on('click', function (e) {
                let rule = rules.find(function (r)
                {
                    return r.priority == e.target.id || 'b' + r.priority == e.target.id;
                });

                const brs = '<br />';
                const noConditions = ' - No existing conditions - ';

                if (rule.conditions) {
                    jsonObj = rule.conditions;

                    $('#string-tab-pane').html(brs + setStringView(jsonObj));
                    $('#json-tab-pane').html(brs + setJsonView(jsonObj));
                    $('#tree-tab-pane').html(brs + setTreeView(jsonObj));
                }
                else {
                    $('#string-tab-pane').html(brs + noConditions);
                    $('#json-tab-pane').html(brs + noConditions);
                    $('#tree-tab-pane').html(brs + noConditions);
                }
            });
        }

        function setJsonView(node) {

            let jsonPretty = JSON.stringify(node, null, '\t');

            return '<pre>' + jsonPretty + '</prep>';
        }

        function setStringView(node) {
            let html = recursiveStringView(node, null, 0);

            return html;
        }

        function recursiveStringView(node, logicalOperator, tabs)
        {
            let html = '';
            let tabsLeft = 1;
            let tabsLeftChild = 1;
            if (!node) {
                return html;
            }

            if (node.conditionTypeName) {
                if (logicalOperator) {
                    if (tabs) {
                        tabsLeft = 4 * tabs;
                    }

                    html += '<br/><span class="conditions-tab" style="--tab-left: ' + tabsLeft + 'em"><b>' + logicalOperator + '</b></span> ';
                }

                html += '<i>' + node.conditionTypeName + '</i> (';

                html += node.operator;
                html += ' ' + node.operand;

                html += ')';

                return html;
            }

            if (node.logicalOperator) {
                if (tabs) {
                    tabsLeft = 4 * tabs;
                    html += '<br/>';
                }

                html += '<span class="conditions-tab" style="--tab-left: ' + tabsLeft + 'em"> <b>' + node.logicalOperator + '</b></span>';


                if (node.childConditionNodes) {
                    tabs++;
                    if (tabs) {
                        tabsLeftChild = 4 * tabs;
                    }

                    html += ' (<br/><span class="conditions-tab" style="--tab-left: ' + tabsLeftChild + 'em">';

                    for (var i = 0; i < node.childConditionNodes.length; i++) {
                        html += recursiveStringView(node.childConditionNodes[i], i > 0 ? node.logicalOperator : '', tabs);
                    }

                    html += '<br/></span><span class="conditions-tab" style="--tab-left: ' + tabsLeft + 'em">)</span>';
                }

                return html;
            }

            return html;
        }

        function setTreeView(node) {
            let html = '<ul>';

            html += recursiveTreeView(node);

            html += '</ul>';

            return html;
        }

        function recursiveTreeView(node)
        {
            let html = '';

            if (!node) {
                return html;
            }

            if (node.conditionTypeName) {
                html += '<li><span class="caret">' + node.conditionTypeName + '</span>';

                html += '<ul class="nested">';

                html += '<li>' + node.operator + '</li>';
                html += '<li>' + node.operand + '</li>';

                html += '</ul></li>';

                return html;
            }

            if (node.logicalOperator) {
                html += '<li><span class="caret"><b>' + node.logicalOperator + '</b></span>';

                if (node.childConditionNodes) {
                    html += '<ul class="nested">';

                    for (var i = 0; i < node.childConditionNodes.length; i++) {
                        html += recursiveTreeView(node.childConditionNodes[i]);
                    }

                    html += '</ul></li>';
                }

                return html;
            }

            return html;
        }

        function applyRulesFilter(dataSource) {
            if (ruleFilter.name) {
                dataSource = dataSource.filter(function (r) {
                    return r.name.toLowerCase().includes(ruleFilter.name.toLowerCase());
                });
            }

            if (ruleFilter.status) {
                dataSource = dataSource.filter(function (r) {
                    return r.status.toLowerCase() == ruleFilter.status.toLowerCase();
                });
            }

            if (ruleFilter.value) {
                dataSource = dataSource.filter(function (r) {
                    return r.value.toLowerCase().includes(ruleFilter.value.toLowerCase());
                });
            }

            return dataSource;
        }

        function setContentTypesSelectEvent(){
            $("#contentTypesSelect").on('change', function (){
                $('#rules_table').html('');
                let contentTypeSelected = $(this).children("option:selected").val();
                contentType = '';

                if (contentTypeSelected)
                {
                    $("#loading").show();
                    $.ajax({
                        url: "api/v1/rules?contentType=" + contentTypeSelected,
                        success: function (response) {
                            rules = response;

                            
                            setRulesPagination(response);
                        },
                        error: function (error) {
                            $('#loading').hide();
                            $('#errorModal').modal('show');
                            $('#errorBody').html('<pre>' + JSON.stringify(error, null, '\t') + '</pre>');
                        }
                    });
                }
            });


        }

        $(document).ready(() => {
            $('#ruleStatusesSelect').on('change', function (e) {
                ruleFilter.status = $(this).children("option:selected").val();
                setRulesPagination(rules);
            });

            $('#ruleNameSearch').on('input', function (e) {
                ruleFilter.name = $(this).val();
                setRulesPagination(rules);
            });

            $('#ruleValueSearch').on('input', function (e) {
                ruleFilter.value = $(this).val();
                setRulesPagination(rules);
            });

            $('#contentTypeSearch').on('input', function (e) {
                const contentTypeValue = $(this).val();
                if (contentTypeValue) {
                    let contentTypesFiltered = contentTypes.filter(function (r) {
                        return r.name.toLowerCase().includes(contentTypeValue.toLowerCase());
                    });

                    setContentTypesPagination(contentTypesFiltered);
                    return;
                }
                setContentTypesPagination(contentTypes);

            });

            $('.download').on('click', function () {
                let dataSource = rules;

                dataSource = applyRulesFilter(dataSource);

                for (var i = 0; i < dataSource.length; i++) {
                    let conditionsToExport = dataSource[i].conditions;

                    if (conditionsToExport) {
                        dataSource[i].conditions = conditionsToExport;
                    }
                }


                let filename = 'rules_as_json';
                const contentTypeSelected = $('#contentTypesSelect').children("option:selected").val();
                if (contentTypeSelected) {
                    filename += '_' + contentTypeSelected;
                }

                const jsonStr = JSON.stringify(dataSource);

                let element = document.createElement('a');
                element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(jsonStr));
                element.setAttribute('download', filename);

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            });

            $('.main .nav-link').on('click', function (d) {

                $('.main .nav-link.active').removeClass('active');

                $('.main .nav-link').addClass('text-white');

                $(this).addClass('active');
                $(this).addClass('text-white');
                $(this).attr("aria-current", "page");

                $('.content').hide();
                $('div[id=' + d.currentTarget.id + ']').show();

                $('#rulesPriority').html('Loading...');
                $.ajax({
                    url: "api/v1/configurations",
                    success: function (response) {
                        $('#rulesPriority').html(response);
                        priority = response;
                    },
                    error: function (error) {
                        openError(error);
                    }
                });

                if (d.currentTarget.id == "contentTypes") {
                    setContentTypesPagination([]);
                    $("#loading").show();
                    $.ajax({
                        url: "api/v1/contentTypes",
                        success: function (response) {
                            contentTypes = response;
                            setContentTypesPagination(response)

                        },
                        error: function (error, d, e) {
                            openError(error);
                            $('#loading').hide();
                        }
                    });
                }

                if (d.currentTarget.id == "rules") {
                    $('#rules_table').html('');
                    setRulesPagination([]);
                    setContentTypesSelectEvent();


                    let $dropdown = $("#contentTypesSelect");
                    $dropdown.html('<option value="">Loading...</option>');
                    $.ajax({
                        url: "api/v1/contentTypes",
                        success: function (response) {
                            contentTypes = response;
                            $dropdown.html('<option value="">Choose ContentType...</option>');
                            $.each(response, function (i, item) {
                                if (contentType == item.name || contentType == 'b' + item.name) {
                                    $dropdown.append($("<option>", {
                                        value: item.name,
                                        text: item.name,
                                        selected: 'selected'
                                    }));
                                }
                                else
                                {
                                    $dropdown.append($("<option>", {
                                        value: item.name,
                                        text: item.name
                                    }));
                                }
                            });

                            if (contentType)
                            {
                                $dropdown.change();
                            }
                        },
                        error: function (error) {
                            openError(error);
                        }
                    });

                }
            });


        });
    </script>

    <div class="modal fade" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Something went wrong</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p><div id="errorBody"></div></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="conditionsModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Conditions</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" aria-current="page" data-bs-target="#string-tab-pane" data-bs-toggle="tab" href="#">String</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#" data-bs-target="#json-tab-pane" data-bs-toggle="tab">Json</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#" data-bs-target="#tree-tab-pane" data-bs-toggle="tab">Tree</a>
                        </li>
                    </ul>

                    <div class="row"></div>
                    <div class="tab-content" id="myTabContent" style="max-height: 500px; overflow-y: auto; ">
                        <div class="tab-pane fade show active" id="string-tab-pane" role="tabpanel" aria-labelledby="string-tab" tabindex="0"></div>
                        <div class="tab-pane fade" id="json-tab-pane" role="tabpanel" aria-labelledby="json-tab" tabindex="1"></div>
                        <div class="tab-pane fade" id="tree-tab-pane" role="tabpanel" aria-labelledby="tree-tab" tabindex="2"></div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
