<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.DocumentTitle</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='glyphicons_only_bootstrap/css/bootstrap.min.css' />
    <link href="paginationjs/dist/pagination.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="rules_list.ico" />
    @Model.HeadContent

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="paginationjs/dist/pagination.min.js"></script>
    <style>
        main {
        }

        .b-example-divider {
            border-width: 1px;
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        fieldset {
            border: solid 1px gray;
            padding-right: 12px;
            padding-bottom: 15px;
            padding-left: 12px;
            margin-bottom: 20px;
        }

        legend {
            float: none;
            width: inherit;
            font-weight: 500;
            font-size: 1.2rem;
        }

        .paginationjs .paginationjs-pages li.active > a {
            background: #373b3e !important;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #212529 !important;
            background-color: #ffffff !important;
        }

        .conditions-tab {
            --tab-left: 4em;
            padding-left: var(--tab-left, 4em);
        }

        .rql-label {
            display: block;
            color: #fff;
            font-size: 1.5rem;
            padding: 0px 15px 0px 0px;
        }

        .rql-code-editor {
            display: inline-flex;
            gap: 10px;
            font-family: monospace;
            line-height: 21px;
            background: RGBA(33,37,41,var(--bs-bg-opacity,1)) !important;
            border-radius: 3px;
            padding: 0px 0px 0px 10px;
        }

        .rql-line-numbers {
            width: 20px;
            text-align: right;
            padding: 10px 0px 0px 0px;
        }

        .rql-line-numbers span {
            counter-increment: linenumber;
        }

        .rql-line-numbers span::before {
            content: counter(linenumber);
            display: block;
            color: #fff;
        }

        .rql-text-area {
            line-height: 21px;
            overflow-y: hidden;
            padding: 10px 0px 0px 0px;
            border: 1px solid #ced4da;
            border-radius: 3px;
            background: #fff;
            color: #212529;
            min-width: 500px;
            outline: none;
            resize: none;
            width: 100%;
            tab-size: 4;
        }
    </style>
</head>
<body>

    <main class="d-flex flex-nowrap">

        <div class="d-flex flex-column flex-shrink-0 p-2 text-bg-dark" style="width: 220px; padding-top:15px !important; padding-right:10px !important">
            <a href="/rules" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 glyphicon glyphicon-list" aria-hidden="true"></span>
                &nbsp; <span class="fs-5"> @Model.DocumentTitle</span>
            </a>
            <hr>
            <ul class="main nav nav-pills flex-column mb-auto">
                <li class="main nav-item">
                    <a href="#" id="index" class="nav-link active" aria-current="page">
                        Home
                    </a>
                </li>
                <li class="main nav-item">
                    <a href="#" id="contentTypes" class="nav-link text-white">
                        Content Types
                    </a>
                </li>
                <li class="main nav-item">
                    <a href="#" id="rules" class="nav-link text-white">
                        Rules
                    </a>
                </li>
                <li class="main nav-item">
                    <a href="#" id="rqlWorkbench" class="nav-link text-white">
                        RQL Workbench
                    </a>
                </li>
            </ul>
        </div>

        <div class="b-example-divider b-example-vr"></div>

        <div style="padding-top:20px; width:75%">

            <center>
                <div id="index" class="content">
                    <br />
                    <p class="lead">Welcome to Rules.Framework Web UI.<br /> Allows you to see the rules configured in your application.</p>
                </div>
            </center>

            <div id="contentTypes" class="content" style="display:none">
                <div class="row">
                    <div class="col-12">

                        <fieldset class="reset">
                            <legend class="reset">
                                <button type="button" class="btn btn-dark dropdown-toggle" style="font-size:.8rem" aria-expanded="false"
                                        data-bs-toggle="collapse" data-bs-target="#filterContentTypes"
                                        aria-controls="filterContentTypes">
                                    <span class="glyphicon glyphicon-filter"></span> Filters
                                </button>
                            </legend>
                            <div class="collapse show" id="filterContentTypes">
                                <form novalidate onSubmit="return false;">
                                    <div class="col-md-12" style="display: flex; align-items: flex-end;">
                                        <div class="col-md-5" style="margin-right: 12px;">
                                            <label for="contentTypeSearch" class="col-form-label-sm">Name</label>
                                            <input class="form-control form-control-sm" id="contentTypeSearch" />
                                        </div>
                                        <div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="contentTypeOnlyWithRules">
                                                <label class="form-check-label" for="contentTypeOnlyWithRules">
                                                    Show only content types with rules

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>

                        <h5 class="mb-3">Content Types</h5>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm" style="font-size: .875rem;">
                                <thead style="border-bottom: 2px solid currentcolor;">
                                    <tr>
                                        <th scope="col" width="3%">#</th>
                                        <th scope="col" width="62%">Name</th>
                                        <th scope="col" width="15%" style="text-align: center;">Active Rules</th>
                                        <th scope="col" width="15%" style="text-align: center;">Total Rules</th>
                                        <th scope="col" width="5%" style="text-align: center;">Rules</th>
                                    </tr>
                                </thead>
                                <tbody id="contentTypes_table">
                                </tbody>
                            </table>
                            <div id="contentTypes_pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rules" class="content" style="display:none">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="reset">
                            <legend class="reset">
                                <button type="button" class="btn btn-dark dropdown-toggle" style="font-size:.8rem" aria-expanded="false"
                                        data-bs-toggle="collapse" data-bs-target="#filterRules"
                                        aria-controls="filterRules">
                                    <span class="glyphicon glyphicon-filter"></span> Filters
                                </button>
                            </legend>
                            <div class="collapse show" id="filterRules">
                                <form class="row g-3" novalidate onSubmit="return false;">
                                    <div class="row" style="display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;">

                                        <div class="col-md-4">
                                            <label for="contentTypesSelect" class="col-form-label-sm">Content Type</label>
                                            <select class="form-select form-select-sm" id="contentTypesSelect" required>
                                                <option value="">Loading...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="ruleStatusesSelect" class="col-form-label-sm">Status</label>
                                            <select class="form-select form-select-sm" id="ruleStatusesSelect">
                                                <option value="">Choose Status...</option>
                                                <option value="active">Active</option>
                                                <option value="expired">Expired</option>
                                                <option value="pending">Pending</option>
                                                <option value="deactivated">Deactivated</option>
                                            </select>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="dateBeginSearch" class="col-form-label-sm">Before</label>
                                            <input class="form-control form-control-sm" type="date" id="dateBeginSearch" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="dateEndSearch" class="col-form-label-sm">After</label>
                                            <input class="form-control form-control-sm" type="date" id="dateEndSearch" />
                                        </div>
                                    </div>
                                    <div class="row" style="display: flex;
                                            flex-direction: row;">
                                        <div class="col-md-4">
                                            <label for="ruleNameSearch" class="col-form-label-sm">Name</label>
                                            <input class="form-control form-control-sm" id="ruleNameSearch" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="ruleValueSearch" class="col-form-label-sm">Content</label>
                                            <input class="form-control form-control-sm" id="ruleValueSearch" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Rules</h5>
                            </div>
                            <div class="col-lg-4" style="text-align:right">
                                <em style="font-size:small">Priority Criterias (<span id="rulesPriority"></span>) &nbsp; </em>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item download" href="#"><span class="glyphicon glyphicon-cloud-download"></span> Export JSON</a></li>
                                        <li style="width: 200px; padding: 5px 5px 5px 5px;">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="conditionsAsColumn">
                                                <label class="form-check-label" for="conditionsAsColumn"> Condition as column</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm" style="font-size: .875rem;">
                                <thead style="border-bottom: 2px solid currentcolor;">
                                    <tr>
                                        <th scope="col" width="2%">Priority</th>
                                        <th scope="col" width="15%">Content Type</th>
                                        <th scope="col" width="20%">Name</th>
                                        <th scope="col" width="10%" nowrap style="text-align: center;">Date Begin</th>
                                        <th scope="col" width="10%" nowrap style="text-align: center;">Date End</th>
                                        <th scope="col" width="20%">Content</th>
                                        <th scope="col" width="5%" style="text-align: center;">Status</th>
                                        <th scope="col" width="5%" style="text-align: center;" class="conditionsAsColumnButton">Conditions</th>
                                        <th scope="col" width="33%" style="text-align: center; display:none;" class="conditionsAsColumnText">Conditions</th>
                                    </tr>
                                </thead>
                                <tbody id="rules_table">
                                </tbody>
                            </table>
                            <div id="rules_pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rqlWorkbench" class="content" style="display:none">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="reset" style="border: 0;">
                            <div id="rqlInputControls" style="display: contents;">
                                <form class="row" novalidate onsubmit="return false;">
                                    <div class="row">
                                        <div class="col-md-11 rql-code-editor">
                                            <label id="rqlInputLabel" for="rqlInput" class="col-form-label rql-label">RQL</label>
                                            <div id="rqlLineNumbers" class="rql-line-numbers">
                                                <span></span>
                                            </div>
                                            <textarea id="rqlInput" class="rql-text-area"></textarea>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="rqlRunBtn" type="submit" class="btn btn-primary">Run</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <ul id="rqlOutputsTabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button id="rqlResultsTab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#rqlResultsTabContent"
                                        type="button" role="tab" aria-controls="rqlResultsTabContent" aria-selected="true">Results</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button id="rqlStdOutputTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#rqlStdOutputTabContent"
                                        type="button" role="tab" aria-controls="rqlStdOutputTabContent" aria-selected="false">Standard Output</button>
                            </li>
                        </ul>
                        <div id="rqlOutputsTabsContent" class="tab-content border" style="height: 100%;">
                            <div id="rqlResultsTabContent" class="tab-pane fade show active" role="tabpanel" aria-labelledby="rqlResultsTab"
                                 tabindex="0" style="padding: 10px;">
                                <div class="row" id="rqlResultRules" style="display:none">
                                    <div class="row">
                                        <p class="lead">Output</p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm" style="font-size: .875rem;">
                                            <thead style="border-bottom: 2px solid currentcolor;">
                                                <tr>
                                                    <th scope="col" width="2%">Priority</th>
                                                    <th scope="col" width="15%">Content Type</th>
                                                    <th scope="col" width="20%">Name</th>
                                                    <th scope="col" width="10%" nowrap style="text-align: center;">Date Begin</th>
                                                    <th scope="col" width="10%" nowrap style="text-align: center;">Date End</th>
                                                    <th scope="col" width="20%">Content</th>
                                                    <th scope="col" width="5%" style="text-align: center;">Status</th>
                                                    <th scope="col" width="5%" style="text-align: center;" class="conditionsAsColumnButton">Conditions</th>
                                                    <th scope="col" width="33%" style="text-align: center; display:none;" class="conditionsAsColumnText">Conditions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="rql_rules_table">
                                            </tbody>
                                        </table>
                                        <div id="rql_rules_pagination"></div>
                                    </div>
                                </div>
                                <div class="row" id="rqlResultText" style="display:none">
                                    <div class="row">
                                        <p class="lead">Output</p>
                                        <p id="rql_result_text"></p>
                                    </div>
                                </div>
                            </div>
                            <div id="rqlStdOutputTabContent" class="tab-pane fade" role="tabpanel" aria-labelledby="rqlStdOutputTab"
                                 tabindex="0" style="padding: 10px;">
                                <p id="rqlStandardOutputText"></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div id="loading" class="spinner-border" style="width: 3rem; height: 3rem; display:none" role="status">
                </div>
            </div>

            <br />
            <br />
        </div>
    </main>
    <script src="bootstrap/dist/bootstrap.bundle.min.js"></script>

    <script>
        let rules = [];
        let value = null;
        let contentTypes = [];
        let contentType = '';
        let priority = '';
        let conditions = [];
        let pageSize = 10;
        let contentTypesFilter = {
            name: '',
            onlyWithRules: false
        };
        let timeoutToSearch = 2000;
                
        function setContentTypesPagination(dataSource) {

            dataSource = applyContentTypesFilter(dataSource);

            $('#contentTypes_pagination').pagination({
                dataSource: dataSource,
                pageSize: pageSize,
                showNavigator: true,
                formatNavigator: '<span style="color: black"> Total of content types: <%= totalNumber %> </span>',
                callback: function (data, pagination) {
                    populateContentTypes(data)
                }
            })
        }

        function setRulesPagination(paginationControlId, tableControlId, dataSource) {            
            $(paginationControlId).pagination({
                dataSource: dataSource,
                pageSize: pageSize,
                showNavigator: true,
                formatNavigator: '<span style="color: black"> Total of rules: <%= totalNumber %> </span>',
                callback: function (data, pagination) {
                    populateRules(tableControlId, data)
                }
            });
        }

        function populateRules(tableControlId, dataSource) {
            let trHTML = '';
            const conditionsAsColumnChecked = $('#conditionsAsColumn').prop('checked');
            $.each(dataSource, function (_, item) {

                let labelColor = '';
                let style = '';
                let icon = '';
                let dateEnd = item.dateEnd;
                if (!dateEnd) {
                    dateEnd = '-';
                }
                switch (item.status.toLowerCase()) {

                    case 'active':
                        labelColor = 'badge text-bg-success';
                        style = 'color: #1c6c09 !important;background-color: #d9fbd0 !important;'
                        icon = 'glyphicon glyphicon-ok';
                        break;
                    case 'pending':
                        labelColor = 'badge text-bg-info';
                        style = 'color: #bc3803 !important;background-color: #ffefca !important;'
                        icon = 'glyphicon glyphicon-time';
                        break;
                    case 'deactivated':
                        labelColor = 'badge text-bg-info';
                        style = 'color: #494141 !important;background-color: #bdbbbb !important;'
                        icon = 'glyphicon glyphicon-minus-sign';
                        break;
                    default:
                        labelColor = 'badge text-bg-danger';
                        style = 'color: #AF0000 !important;background-color: #FFC8C8 !important;'
                        icon = 'glyphicon glyphicon-exclamation-sign';
                }

                trHTML += '<tr><th scope="row">' + item.priority + ' </th><td>' + item.contentType + '</td><td>' + item.name + '</td>';
                trHTML += '<td style="text-align: center;" nowrap>' + item.dateBegin + '</td><td style="text-align: center;" nowrap> ' + dateEnd + '</td>';
                trHTML += '<td>' + JSON.stringify(item.value) + '</td>';
                trHTML += '<td style="text-align: center;"><span class="' + labelColor + '" style="' + style + '"> ';
                trHTML += item.status;
                trHTML += ' <span class="' + icon + '"></span> '
                trHTML += '</span></td>';
                trHTML += '<td nowrap style="text-align: center;" class="conditionsAsColumnButton"><button type="button" class="btn btn-dark conditions textSize"  ';
                trHTML += 'data-bs-toggle="modal" data-bs-target="#conditionsModal" title="Conditions" id="b' + item.priority + '">';
                trHTML += '<span class="glyphicon glyphicon-tasks" id="' + item.priority + '"></span>';
                trHTML += '</button></td>';
                trHTML += '<td class="conditionsAsColumnText" style="display:none;">' + setStringView(item.conditions) + '</td></tr>';

            });
            $(tableControlId).html(trHTML);
            $('#conditionsAsColumn').prop('checked', conditionsAsColumnChecked).change()
            $("#loading").hide();
            setConditionsEvent();
        }

        function populateContentTypes(dataSource)
        {
            let trHTML = '';
            $.each(dataSource, function (_, item) {
                trHTML += '<tr><th scope="row">' + item.index + ' </th><td>' + item.name + '</td>';
                trHTML += '<td style="text-align: center;"><span class="badge bg-success" style="font-size:1em!important; color: #1c6c09 !important;background-color: #d9fbd0 !important;">' + item.activeRulesCount + '<span></td>';
                trHTML += '<td style="text-align: center;"><span class="badge bg-primary" style="font-size:1em!important; color: #373b3e !important;background-color: #cdced7 !important;">' + item.rulesCount + '<span></td>';
                trHTML += '<td style="text-align: center;"><button style="font-size:.875rem" type="button" class="btn btn-dark rules"  ';
                trHTML += 'title="Rules" id="b' + item.name + '">';
                trHTML += '<span class="glyphicon glyphicon-log-in" id="' + item.name + '"></span>';
                trHTML += '</button></td>';
                trHTML += '</tr>';
            });
            $('#contentTypes_table').html(trHTML);
            $("#loading").hide();
            setContentTypesEvent();
        }

        function openError(error)
        {
            $('#errorModal').modal('show');
            $('#errorBody').html('<pre>' + JSON.stringify(error, null, '\t').
                replace(/\\r/g, '\r').
                replace(/\\n/g, '\n') + '</pre>');
        }

        function setContentTypesEvent()
        {
            $('.rules').on('click', function (e) {
                const contentTypeClicked = e.target.id;

                if (contentTypeClicked)
                {
                    contentType = contentTypeClicked;
                    $('#rules').click();                    
                }
            });
        }

        function setConditionsEvent()
        {
            $('.conditions').on('click', function (e) {
                let rule = rules.find(function (r)
                {
                    return r.priority == e.target.id || 'b' + r.priority == e.target.id;
                });

                const brs = '<br />';
                const noConditions = ' - No existing conditions - ';

                if (rule.conditions) {
                    jsonObj = rule.conditions;

                    $('#string-tab-pane').html(brs + setStringView(jsonObj));
                    $('#json-tab-pane').html(brs + setJsonView(jsonObj));
                    $('#tree-tab-pane').html(brs + setTreeView(jsonObj));
                }
                else {
                    $('#string-tab-pane').html(brs + noConditions);
                    $('#json-tab-pane').html(brs + noConditions);
                    $('#tree-tab-pane').html(brs + noConditions);
                }
            });
        }

        function setJsonView(node) {

            let jsonPretty = JSON.stringify(node, null, '\t');

            return '<pre>' + jsonPretty + '</prep>';
        }

        function setStringView(node) {
            let html = recursiveStringView(node, null, false, 0);

            return html;
        }

        function recursiveStringView(node, logicalOperator, isFirst, tabsLeft) {
            let html = '';                        
            if (!node) {
                return html;
            }

            if (node.conditionTypeName) {
                if (logicalOperator && !isFirst) {
                    html += '<br/><span class="conditions-tab" style="--tab-left: ' + (4 * tabsLeft) + 'em"><b>' + logicalOperator + '</b></span> ';
                }
                else
                {
                    html += '<span class="conditions-tab" style="--tab-left: ' + (4 * tabsLeft) + 'em"></span> ';
                }
                
                html += '<i>' + node.conditionTypeName + '</i>';

                html += ' <span style="text-decoration:underline">' + node.operator + '</span> ';

                let operand = node.operand;
                if ($.trim(operand) == '') {
                    operand = 'Empty';
                }
                html += ' ' + operand;

                return html;
            }

            if (node.logicalOperator) {
                if (node.childConditionNodes) {
                    if (logicalOperator && !isFirst) {                        
                        html += ' <br/><span class="conditions-tab" style="--tab-left: ' + (4 * tabsLeft) + 'em"><b>' + logicalOperator + '</b> (<br/>';
                        tabsLeft++;
                    }

                    for (var i = 0; i < node.childConditionNodes.length; i++) {
                        html += recursiveStringView(node.childConditionNodes[i], node.logicalOperator, i == 0, tabsLeft);
                    }

                    if (logicalOperator && !isFirst) {
                        html += '<br/></span><span class="conditions-tab" style="--tab-left: ' + (4 * (tabsLeft-1)) + 'em">)</span>';
                    }
                }
                return html;
            }

            return html;
        }

        function setTreeView(node) {
            let html = '<ul>';

            html += recursiveTreeView(node);

            html += '</ul>';

            return html;
        }

        function recursiveTreeView(node)
        {
            let html = '';

            if (!node) {
                return html;
            }

            if (node.conditionTypeName) {
                html += '<li><span class="caret">' + node.conditionTypeName + '</span>';

                html += '<ul class="nested">';

                html += '<li>' + node.operator + '</li>';

                let operand = node.operand;
                if ($.trim(operand) == '') {
                    operand = 'Empty';
                }

                html += '<li>' + operand + '</li>';

                html += '</ul></li>';

                return html;
            }

            if (node.logicalOperator) {
                html += '<li><span class="caret"><b>' + node.logicalOperator + '</b></span>';

                if (node.childConditionNodes) {
                    html += '<ul class="nested">';

                    for (var i = 0; i < node.childConditionNodes.length; i++) {
                        html += recursiveTreeView(node.childConditionNodes[i]);
                    }

                    html += '</ul></li>';
                }

                return html;
            }

            return html;
        }

        function setSearchEvents(){
            let ruleNameSearchTimeout = null;
            let ruleValueSearchTimeout = null;
                        
            $('#contentTypesSelect').on('change', search);

            $('#ruleStatusesSelect').on('change', search);

            $('#ruleNameSearch').on('change', function (){
                clearTimeout(ruleNameSearchTimeout);
                search();
            });
            $('#ruleValueSearch').on('change', function () {
                clearTimeout(ruleValueSearchTimeout);
                search();
            });
            
            
            const unbouncedKeyCodes = [13, 9]; //13 = enter, 9 = tab

            $('#ruleNameSearch').keyup(function (event) {
                let keyCode = event.keyCode || event.which;
                
                if (unbouncedKeyCodes.includes(keyCode)) {
                    event.preventDefault();
                    clearTimeout(ruleNameSearchTimeout);
                    return false;
                }

                clearTimeout(ruleNameSearchTimeout);
                ruleNameSearchTimeout = setTimeout(search, timeoutToSearch);
            });
                        
            $('#ruleValueSearch').keyup(function (event) {
                let keyCode = event.keyCode || event.which;

                if (unbouncedKeyCodes.includes(keyCode)) {                    
                    event.preventDefault();
                    clearTimeout(ruleValueSearchTimeout);
                    return false;
                }
                clearTimeout(ruleValueSearchTimeout);
                ruleValueSearchTimeout = setTimeout(search, timeoutToSearch);
            });
                                              
            
            $('#dateBeginSearch').on('change', function (event) {                
                if (areDatesValid()) {
                    search();
                    return;
                }
                $('#dateBeginSearch').val('');
            });
            $('#dateEndSearch').on('change', function () {
                if (areDatesValid()) {
                    search();
                    return;
                }
                $('#dateEndSearch').val('');
            });
        }

        let executingSearch = false;

        function areDatesValid() {
            let from = $("#dateBeginSearch").val();
            let to = $("#dateEndSearch").val();

            if (Date.parse(from) > Date.parse(to)) {
                $('#errorModal').modal('show');
                $('#errorBody').html('<pre> Invalid date range </pre>');                
                return false;
            }

            return true;
        }
        

        function search() {
            if (executingSearch) {
                return;
            }
            executingSearch = true;
            $('#rules_table').html('');
            const contentType = $('#contentTypesSelect').children("option:selected").val();
            const status = $('#ruleStatusesSelect').children("option:selected").val();
            const name = $('#ruleNameSearch').val();
            const dateBegin = $('#dateBeginSearch').val();
            const dateEnd = $('#dateEndSearch').val();
            const content = $('#ruleValueSearch').val();                
                                
                                
            $("#loading").show();
            $.ajax({
                url: "api/v1/rules",
                data: jQuery.param(
                    {
                        contentType: contentType ?? null,
                        content: content ?? null,
                        dateBegin: dateBegin ?? null,
                        dateEnd: dateEnd ?? null,
                        status: status ?? null,
                        name: name ?? null
                    }),
                success: function (response) {
                    executingSearch = false;
                    rules = response;
                    setRulesPagination('#rules_pagination', '#rules_table', response);
                },
                error: function (error) {
                    executingSearch = false;
                    $('#loading').hide();
                    $('#errorModal').modal('show');
                    $('#errorBody').html('<pre>' + JSON.stringify(error, null, '\t') + '</pre>');
                }
            });
        }

        function applyContentTypesFilter(dataSource) {

            if (contentTypesFilter.name) {
                dataSource = dataSource.filter(function (r) {
                    return r.name.toLowerCase().includes(contentTypesFilter.name.toLowerCase());
                });
            }
            dataSource = dataSource.filter(function (r) {
                return !contentTypesFilter.onlyWithRules || (contentTypesFilter.onlyWithRules && r.rulesCount > 0);
            });

            return dataSource;
        }

        $(document).ready(() => {            
            $(document).keypress(function (event) {
                if (event.keyCode == 13 && $('#rules') && $('#rules').hasClass('active')) {
                    event.preventDefault();
                    search();
                    return false;
                }
            });

            $('#conditionsAsColumn').on('change', function (e) {
                const checked = $(this).prop('checked');

                if (checked) {
                    $('.conditionsAsColumnText').show();
                    $('.conditionsAsColumnButton').hide();
                    return;
                }

                $('.conditionsAsColumnButton').show();
                $('.conditionsAsColumnText').hide();

            });

            $('#contentTypeOnlyWithRules').on('change', function (e) {
                const checked = $(this).prop('checked');

                contentTypesFilter.onlyWithRules = checked;

                setContentTypesPagination(contentTypes);
            });

            
            $('#contentTypeSearch').on('input', function (e) {
                const contentTypeValue = $(this).val();

                contentTypesFilter.name = contentTypeValue;
                setContentTypesPagination(contentTypes);
            });

            $('.download').on('click', function () {
                let dataSource = rules;
                                
                let filename = 'rules_as_json';
                const contentTypeSelected = $('#contentTypesSelect').children("option:selected").val();

                if (contentTypeSelected) {
                    filename += '_' + contentTypeSelected;
                }

                const jsonStr = JSON.stringify(dataSource);

                let element = document.createElement('a');
                element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(jsonStr));
                element.setAttribute('download', filename);

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            });

            $('#rqlRunBtn').on('click', function (e) {
                rqlRun();
            });

            $('.main .nav-link').on('click', function (d) {

                $('.main .nav-link.active').removeClass('active');

                $('.main .nav-link').addClass('text-white');

                $(this).addClass('active');
                $(this).addClass('text-white');
                $(this).attr("aria-current", "page");

                $('.content').hide();
                $('div[id=' + d.currentTarget.id + ']').show();

                $('#rulesPriority').html('Loading...');
                $.ajax({
                    url: "api/v1/configurations",
                    success: function (response) {
                        $('#rulesPriority').html(response.PriorityCriteria);
                        priority = response.PriorityCriteria;
                    },
                    error: function (error) {
                        openError(error);
                    }
                });

                if (d.currentTarget.id == 'contentTypes') {
                    setContentTypesPagination([]);
                    $('#loading').show();
                    $.ajax({
                        type: 'get',
                        url: 'api/v1/contentTypes',
                        success: function (response) {
                            contentTypes = response;
                            setContentTypesPagination(response)

                        },
                        error: function (error, d, e) {
                            openError(error);
                            $('#loading').hide();
                        }
                    });
                }

                if (d.currentTarget.id == "rules") {
                    $('#rules_table').html('');
                    setRulesPagination('#rules_pagination', '#rules_table', []);
                    setSearchEvents();
                    

                    let $dropdown = $("#contentTypesSelect");
                    $dropdown.html('<option value="">Loading...</option>');
                    $.ajax({
                        url: "api/v1/contentTypes",
                        success: function (response) {
                            contentTypes = response;
                            $dropdown.html('<option value="">Choose ContentType...</option>');                            
                            $.each(response, function (i, item) {
                                if (contentType == item.name || contentType == 'b' + item.name) {
                                    $dropdown.append($("<option>", {
                                        value: item.name,
                                        text: item.name,
                                        selected: 'selected'
                                    }));
                                }
                                else
                                {
                                    $dropdown.append($("<option>", {
                                        value: item.name,
                                        text: item.name
                                    }));
                                }
                            });
                            $dropdown.change();                            
                        },
                        error: function (error) {
                            openError(error);
                        }
                    });

                }
            });


        });

        function rqlRun() {
            if (executingSearch) {
                return;
            }
            executingSearch = true;
            $('#rql_rules_table').html('');
            var rql = $('#rqlInput')[0].value;
            $("#loading").show();
            $.ajax({
                url: "api/v1/rql",
                data: JSON.stringify({
                    Rql: rql ?? null
                }),
                method: "POST",
                success: function (response) {
                    executingSearch = false;
                    rules = [];
                    value = null;
                    let lastIndex = response.statementResults.length - 1;
                    if (response.statementResults[lastIndex].rules) {
                        rules = response.statementResults[lastIndex].rules;
                        setRulesPagination('#rql_rules_pagination', '#rql_rules_table', rules);
                        $('#rqlResultRules').attr('style', 'display: block');
                        $('#rqlResultText').attr('style', 'display: none');
                        $('#rqlResultsTab').removeClass('disabled');
                    } else if (response.statementResults[lastIndex].value) {
                        value = response.statementResults[lastIndex].value;
                        $('#rql_result_text').html(escape(value.displayValue));
                        $('#rqlResultRules').attr('style', 'display: none');
                        $('#rqlResultText').attr('style', 'display: block');
                        $('#rqlResultsTab').removeClass('disabled');
                    } else {
                        $('#rql_result_text').html("Nothing");
                        $('#rqlResultRules').attr('style', 'display: none');
                        $('#rqlResultText').attr('style', 'display: block');
                        $('#rqlResultsTab').removeClass('disabled');
                    }

                    if (response.standardOutput) {
                        if ($('#rqlStdOutputTab').hasClass('disabled')) {
                            $('#rqlStdOutputTab').removeClass('disabled');
                        }

                        $('#rqlStandardOutputText').html(escape(response.standardOutput));
                    } else {
                        if (!$('#rqlStdOutputTab').hasClass('disabled')) {
                            $('#rqlStdOutputTab').addClass('disabled');
                        }

                        $('#rqlStandardOutputText').html('');
                    }

                    $("#loading").hide();
                },
                error: function (error) {
                    executingSearch = false;
                    $('#loading').hide();
                    if (error.status == 400) {
                        let errors = 'Errors have occurred while executing RQL:\n<ul>';
                        $.each(error.responseJSON.statementResults, function (_, item) {
                            errors += '\n<li>' + escape(item.error.message + ' at {' + item.error.beginPositionLine + ':'
                                + item.error.beginPositionColumn + '}-{' + + item.error.endPositionLine + ':' + item.error.endPositionColumn + '}') + '</li>';
                        });
                        errors += '\n<ul>';
                        $('#rql_result_text').html(errors);
                        $('#rqlResultRules').attr('style', 'display: none');
                        $('#rqlResultText').attr('style', 'display: block');
                        if (!$('#rqlStdOutputTab').hasClass('disabled')) {
                            $('#rqlStdOutputTab').addClass('disabled');
                        }
                    }
                    else {
                        $('#errorModal').modal('show');
                        $('#errorBody').html('<pre>' + JSON.stringify(error, null, '\t') + '</pre>');
                    }
                }
            })
        }


        function escape(htmlStr) {
            return htmlStr.replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#39;")
                .replace(/\n/g, "<br />")
                .replace(/ {4}/g, "&emsp;");

        }

        const rqlTextarea = document.querySelector('#rqlInput');
        const lineNumbers = document.querySelector('#rqlLineNumbers');

        rqlTextarea.addEventListener('keyup', event => {
            const numberOfLines = event.target.value.split('\n').length;

            lineNumbers.innerHTML = Array(numberOfLines)
                .fill('<span></span>')
                .join('');
        });

        rqlTextarea.addEventListener('keydown', event => {
            if (event.key === 'Tab') {
                event.preventDefault();
                const start = rqlTextarea.selectionStart;
                const end = rqlTextarea.selectionEnd;

                rqlTextarea.value = rqlTextarea.value.substring(0, start) + '\t' + rqlTextarea.value.substring(end);
                rqlTextarea.selectionStart =
                    rqlTextarea.selectionEnd = start + 1;
            }
        });
       
    </script>

    <div class="modal fade" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Something went wrong</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p><div id="errorBody"></div></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="conditionsModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Conditions</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" aria-current="page" data-bs-target="#string-tab-pane" data-bs-toggle="tab" href="#">Pretty</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#" data-bs-target="#tree-tab-pane" data-bs-toggle="tab">Tree</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#" data-bs-target="#json-tab-pane" data-bs-toggle="tab">Json</a>
                        </li>
                    </ul>

                    <div class="row"></div>
                    <div class="tab-content" id="myTabContent" style="max-height: 500px; overflow-y: auto; ">
                        <div class="tab-pane fade show active" id="string-tab-pane" role="tabpanel" aria-labelledby="string-tab" tabindex="0"></div>
                        <div class="tab-pane fade" id="tree-tab-pane" role="tabpanel" aria-labelledby="tree-tab" tabindex="1"></div>
                        <div class="tab-pane fade" id="json-tab-pane" role="tabpanel" aria-labelledby="json-tab" tabindex="2"></div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
